# vscode config
.vscode/
# Visual Studio local cache
.vs/
# data
data/
# python venv
.venv/

# IAR: keep project files, ignore build outputs and caches
iar/删除临时文件IAR.bat
iar/Debug*/
iar/Release*/
iar/**/Obj/
iar/**/List/
iar/**/BrowseInfo/
iar/**/*.pbd
iar/**/*.pbw
iar/**/*.dep
iar/**/*.log
iar/**/.ninja_deps
iar/**/.ninja_log
iar/**/settings/
iar/project_config/Debug_m7_0/
iar/project_config/Debug_m7_1/
# iar\icf\linker_directives_tviibh.icf ：IAR Embedded Workbench 的链接器配置文件
