# vscode config
.vscode/
.worktrees/
# Visual Studio local cache
.vs/
# data
data/
.csv
*.png
# python venv
.venv/

# IAR: keep project files, ignore build outputs and caches
iar/删除临时文件IAR.bat
iar/Debug*/
iar/Release*/
iar/**/Obj/
iar/**/List/
iar/**/BrowseInfo/
iar/**/*.pbd
iar/**/*.pbw
iar/**/*.dep
iar/**/*.log
iar/**/.ninja_deps
iar/**/.ninja_log
iar/**/settings/
iar/project_config/Debug_m7_0/
iar/project_config/Debug_m7_1/
# iar\icf\linker_directives_tviibh.icf ：IAR Embedded Workbench 的链接器配置文件
#iar/project_config/cyt4bb7_cm_7_0.ewp
#iar/project_config/cyt4bb7_cm_7_0.ewt
iar/cyt4bb7.eww
# iar/icf/linker_directives_tviibh.icf
iar/project_config/cm7_0_cm7_1_debug.xml
iar/project_config/cyt4bb7_cm_7_0.ewd
iar/project_config/cyt4bb7_cm_7_0.eww
iar/project_config/cyt4bb7_cm_7_0.ewx
iar/project_config/cyt4bb7_cm_7_0.sim
iar/project_config/cyt4bb7_cm_7_1.ewd
iar/project_config/cyt4bb7_cm_7_1.eww
# Python 缓存文件
__pycache__/
*.pyc
tools/05_通用数据处理工具/视频网页上位机/output_realtime
# 每份导航点表首次运行自动生成的路线专属规划参数
#tools/webview_nav_marker科目四/速度规划config/nav_toml/

# CYT2BL3FOC 无刷双驱电机驱动器忽略文件
CYT2BL3FOC/project/iar/settings/
CYT2BL3FOC/project/iar/project_config/settings/
CYT2BL3FOC/project/iar/Debug_m4/


# Learning files
/学习文件/

